* {
    font-family: 'Raleway', sans-serif;;
}

  
#table {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 200%;
    line-height: 1.5em;
    direction: ltr;
    width:450px;
}

td, th {
    vertical-align: top;
    padding: 5px; /* Поля в ячейках */
    color:black;
   }
   a:visited {
    color: #0b0080;
}
a
    {
        text-decoration: none;
        color: #0645ad;
        background: none;
    }
p {
    font-size:200%;
    font-family: 'Raleway', sans-serif;
    display: block;
    margin:20px 20px 20px 30px;
   text-align: left;
}
h1 {
    font-size:300%; 
    text-align: center;
    font-family: 'Raleway', sans-serif;
   
}

h2, h3 {
    font-size:200%;
    font-family: 'Raleway', sans-serif;
}
img {
    float: right;
    border-bottom: 3px solid black;
    border-top:3px solid black;
    border-right:3px solid black;
    border-left:3px solid black;
    padding: 5px 5px 5px 5px; 
}
nav {
    font-size:200%;
    font-family: 'Raleway', sans-serif;
}
a:hover {
    color: blue;
}

.brd {
    border-bottom: 4px solid black; 
    padding: 5px; 
    
}
.box1 {
    background: #f0f0f0; /* Цвет фона */
    width: 500px; /* Ширина блока */
    height: 400px;
    padding: 10px; /* Поля */
    border: 2px solid #000; /* Параметры рамки */
    border-radius: 10px;
}
#box2 {
  float: left;
  overflow: hidden;
  border: 0px;
  border-radius: 500px;
  margin-right: 20px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:2px;
}
#imgacademy {
    float: left;
    border:0px;
    border-radius: 10px;
   padding: 10px 10px 10px 10px;
}
#classichebrew li {
    font-size:200%;
    font-family: 'Raleway', sans-serif;
    
}
#linksblock li {
 
    display: inline-block;
    margin: 5px;
    padding: 5px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 20px;
}
#linksblock {
    
        border: 3px solid black;
        background-color: #f8f9fa;
        height: 170px;
        font-weight: 900;
        font-size: 200%;
        margin-top:20px;
}
#bibliography li 
{
    font-size: 200%;

}
#bottomdescription {
    
    float:right;
    font-size: 150%;
    text-align: center;
}
#bibliography {
    border-left: 5px dotted rgb(97, 93, 93);
    padding: 10px;
    padding-top: 0px;
    border-top:5px dotted rgb(97, 93, 93);
}